<mat-card
  class="daxa-card most-leads-card mb-25 border-radius bg-white border-none d-block"
  [class.component-dark-theme]="themeService.isDark()"
>
  <mat-card-header>
    <mat-card-title>
      <h5 class="mb-0">Reservas</h5>
    </mat-card-title>
    <mat-card-subtitle>
      <button
        type="button"
        mat-button
        class="card-header-menu-btn"
        [matMenuTriggerFor]="cardHeaderMenu"
      >
        {{ selectedMenuOption.label }}
      </button>
      <mat-menu
        #cardHeaderMenu="matMenu"
        class="card-header-menu"
        xPosition="before"
      >
        @for (item of menuOptions; track $index) {
        <button mat-menu-item (click)="onMenuOptionSelect(item)">
          {{ item.label }}
        </button>
        }
      </mat-menu>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-4 col-xxxl-4">
        <apx-chart
          #chartPie
          [series]="chartPieOptions.series!"
          [chart]="chartPieOptions.chart!"
          [legend]="chartPieOptions.legend!"
          [dataLabels]="chartPieOptions.dataLabels!"
          [stroke]="chartPieOptions.stroke!"
          [tooltip]="chartPieOptions.tooltip!"
          [colors]="chartPieOptions.colors!"
          [labels]="chartPieOptions.labels!"
        ></apx-chart>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4 col-xxxl-4">
        <apx-chart
          #chartBar
          [series]="chartBarOptions.series!"
          [chart]="chartBarOptions.chart!"
          [dataLabels]="chartBarOptions.dataLabels!"
          [plotOptions]="chartBarOptions.plotOptions!"
          [yaxis]="chartBarOptions.yaxis!"
          [xaxis]="chartBarOptions.xaxis!"
          [legend]="chartBarOptions.legend!"
          [colors]="chartBarOptions.colors!"
          [grid]="chartBarOptions.grid!"
        ></apx-chart>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-4 col-xxxl-4">
        <apx-chart
          #chartPie
          [series]="chartDonutOptions.series!"
          [chart]="chartDonutOptions.chart!"
          [legend]="chartDonutOptions.legend!"
          [dataLabels]="chartDonutOptions.dataLabels!"
          [stroke]="chartDonutOptions.stroke!"
          [tooltip]="chartDonutOptions.tooltip!"
          [colors]="chartDonutOptions.colors!"
          [labels]="chartDonutOptions.labels!"
          style="min-height: 200px !important"
        ></apx-chart>
      </div>
    </div>

    <ul class="leads-list list-unstyled pl-0 mb-0">
      <li class="d-flex align-items-center justify-content-between">
        <div class="title d-flex align-items-center fw-medium">
          <div
            class="icon bg-gray text-center rounded-circle position-relative"
          >
            <i class="material-symbols-outlined"> calendar_clock </i>
          </div>
          Pendientes
        </div>
        <span class="d-block text-body"> {{ pendingPercentage }} % </span>
        <span class="d-block text-body">
          {{ totalPending }}
        </span>
      </li>
      <li class="d-flex align-items-center justify-content-between">
        <div class="title d-flex align-items-center fw-medium">
          <div
            class="icon bg-gray text-center rounded-circle position-relative"
          >
            <i class="material-symbols-outlined"> event_busy </i>
          </div>
          Rechazadas
        </div>
        <span class="d-block text-body"> {{ rejectedPercentage }} % </span>
        <span class="d-block text-body">
          {{ totalRejected }}
        </span>
      </li>
      <li class="d-flex align-items-center justify-content-between">
        <div class="title d-flex align-items-center fw-medium">
          <div
            class="icon bg-gray text-center rounded-circle position-relative"
          >
            <i class="material-symbols-outlined"> event_available </i>
          </div>
          Aprobadas
        </div>
        <span class="d-block text-body"> {{ approvedPercentage }} % </span>
        <span class="d-block text-body">
          {{ totalApproved }}
        </span>
      </li>
      <li class="d-flex align-items-center justify-content-between">
        <div class="title d-flex align-items-center fw-medium">
          <div
            class="icon bg-gray text-center rounded-circle position-relative"
          >
            <i class="material-symbols-outlined"> calendar_add_on </i>
          </div>
          Confirmadas
        </div>
        <span class="d-block text-body"> {{ confirmedPercentage }} % </span>
        <span class="d-block text-body">
          {{ totalConfirmed }}
        </span>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
