<!-- Breadcrumb -->
<div
  class="breadcrumb-card mb-20 d-md-flex align-items-center justify-content-between"
>
  <h5 class="mb-0">Períodos</h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
    <li class="breadcrumb-item position-relative">
      <a routerLink="/" class="d-inline-block position-relative">
        <i class="ri-settings-3-fill"></i>
        Administración
      </a>
    </li>
    <li class="breadcrumb-item position-relative">Períodos</li>
  </ol>
</div>

<!-- TABLE -->
<div class="row">
  <div class="col-lg-12">
    <mat-card
      class="daxa-card mb-20 border-radius bg-white border-none d-block"
    >
      <mat-card-header>
        <mat-card-title>
          <button
            mat-button
            class="text-daxa p-0 h-auto"
            (click)="onActionButton(actionButtonAdd, null)"
          >
            + Añadir período
          </button>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div [class.component-dark-theme]="themeService.isDark()">
          @if (isLoading) {
          <mat-progress-bar mode="query"></mat-progress-bar>
          }

          <div class="splitter-table-container" tabindex="0">
            <table mat-table [dataSource]="(dataSource$ | async)!">
              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef>Código</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.code }}
                </td>
              </ng-container>

              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef>Fecha de inicio</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.startDate | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef>Fecha de fin</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.endDate | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let element">
                  @if (element.status | baseStatusFormatter; as formattedStatus)
                  {
                  <span
                    class="daxa-badge d-inline-block"
                    [ngClass]="formattedStatus.class"
                  >
                    {{ formattedStatus.label }}
                  </span>
                  }
                </td>
              </ng-container>

              <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Acciones
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="action-info">
                    @for (actionButton of element.actions; track $index) {
                    <button
                      type="button"
                      mat-button
                      [matTooltip]="actionButton.label"
                      matTooltipPosition="above"
                      (click)="onActionButton(actionButton, element)"
                    >
                      <i class="material-symbols-outlined">
                        {{ actionButton.name }}
                      </i>
                    </button>
                    }
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>

          <div class="mt-10">
            <mat-paginator
              [length]="totalCount"
              [pageSizeOptions]="defaultPageSize"
              (page)="onPageChange($event)"
            ></mat-paginator>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Popup -->
  <div class="popup-container" [class.active]="classApplied">
    <div class="popup-dialog">
      <mat-card
        class="daxa-card mb-25 border-radius bg-white border-none d-block"
      >
        <mat-card-header>
          <mat-card-title>
            <h5 class="mt-0 mb-0">{{ titlePopup }} período</h5>
          </mat-card-title>
          <mat-card-subtitle>
            <button mat-button (click)="closePopup()">
              <i class="ri-close-fill"></i>
            </button>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <form [formGroup]="periodForm" (ngSubmit)="onSubmit()">
            <div class="row">
              @if (activeActionButton.name !== actionButtons.DELETE) {

              <div class="col-md-12">
                <label class="main-label d-block lh-1 text-black">
                  Código
                </label>
                <mat-form-field>
                  <mat-label> Código </mat-label>
                  <input
                    matInput
                    placeholder="Ej. PER-001"
                    formControlName="code"
                    [sharedMaxChar]="10"
                  />
                </mat-form-field>
              </div>

              <div class="col-md-12">
                <label class="main-label d-block lh-1 text-black">
                  Fecha de inicio
                </label>
                <mat-form-field>
                  <mat-label> MM/DD/YYYY </mat-label>
                  <input
                    matInput
                    [matDatepicker]="starDate"
                    formControlName="startDate"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="starDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #starDate></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-12">
                <label class="main-label d-block lh-1 text-black">
                  Fecha de fin
                </label>
                <mat-form-field>
                  <mat-label> MM/DD/YYYY </mat-label>
                  <input
                    matInput
                    [matDatepicker]="endDate"
                    formControlName="endDate"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="endDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>
              </div>

              @if (activeActionButton.name !== actionButtons.ADD) {

              <div class="col-md-12">
                <label class="main-label d-block lh-1 text-black"
                  >Estado
                </label>
                <mat-form-field>
                  <mat-label> Estado </mat-label>
                  <mat-select formControlName="status">
                    @for (state of baseStatesOptions; track $index) {
                    <mat-option [value]="state.value">
                      {{ state.viewValue }}
                    </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>

              }
              <!--  -->

              } @else {
              <div class="col-md-12 pb-15">
                <p>
                  ¿Está seguro de que desea proceder? Esta acción cambiará el
                  estado del período seleccionada a "Eliminado". Una vez
                  eliminado, el período no estará accesible ni podrá ser operado
                  en el futuro. Por favor, asegúrese de que desea continuar con
                  esta acción irreversible.
                </p>
              </div>

              }
              <!--  -->

              @if (activeActionButton.name !== actionButtons.VIEW) {
              <div class="btn-box">
                <button mat-button type="button" (click)="closePopup()">
                  Cancel
                </button>
                <button
                  mat-button
                  type="submit"
                  [disabled]="periodForm.invalid"
                >
                  {{ titlePopup }}
                </button>
              </div>
              }
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
