<div
  [ngClass]="{
    'blank-page': router.url === '/authentication'
  }"
  [class.dark-theme]="themeService.isDark()"
>
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main Content -->
  <div
    class="main-content transition d-flex flex-column"
    [ngClass]="{ active: (isSidebarToggled$ | async) }"
    [class.right-sidebar]="themeService.isRightSidebar()"
    [class.hide-sidebar]="themeService.isHideSidebar()"
  >
    <!-- Header -->
    <app-header></app-header>
    <router-outlet></router-outlet>
    <div class="flex-grow-1"></div>
    <!-- <app-footer></app-footer> -->
  </div>

  <!-- Customizer Settings -->
  <!-- <app-customizer-settings></app-customizer-settings> -->

  <!-- Notifications -->
  <app-alert></app-alert>
</div>
