<full-calendar [options]="calendarOptions"></full-calendar>

<ng-template #popupTemplate>
  <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
      <mat-card-title>
        <h5 class="mt-0 mb-0">Reserva</h5>
      </mat-card-title>
      <mat-card-subtitle>
        <button mat-button (click)="hidePopup()">
          <i class="ri-close-fill"></i>
        </button>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="bookingForm">
        <div class="row">
          <div class="col-lg-4">
            <label class="main-label d-block lh-1 text-black"> Fecha </label>
            <mat-form-field>
              <mat-label>Fecha </mat-label>
              <input matInput formControlName="date" readonly="true" />
            </mat-form-field>
          </div>

          <div class="col-lg-4">
            <label class="main-label d-block lh-1 text-black">
              Hora de entrada
            </label>
            <mat-form-field>
              <mat-label>Hora de entrada</mat-label>
              <input matInput formControlName="startTime" readonly="true" />
            </mat-form-field>
          </div>

          <div class="col-lg-4">
            <label class="main-label d-block lh-1 text-black">
              Hora de salida
            </label>
            <mat-form-field>
              <mat-label>Hora de salida</mat-label>
              <input matInput formControlName="endTime" readonly="true" />
            </mat-form-field>
          </div>

          <div class="col-lg-12">
            <label class="main-label d-block lh-1 text-black"> Docente </label>
            <mat-form-field>
              <mat-label>Docente</mat-label>
              <input matInput formControlName="teacher" readonly="true" />
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <label class="main-label d-block lh-1 text-black"> Edificio </label>
            <mat-form-field>
              <mat-label>Edificio</mat-label>
              <input matInput formControlName="building" readonly="true" />
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <label class="main-label d-block lh-1 text-black">
              Espacio educativo
            </label>
            <mat-form-field>
              <mat-label>Espacio educativo</mat-label>
              <input matInput formControlName="eduSpace" readonly="true" />
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <label class="main-label d-block lh-1 text-black"> Carrera </label>
            <mat-form-field>
              <mat-label> Carrera </mat-label>
              <input matInput formControlName="career" readonly="true" />
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <label class="main-label d-block lh-1 text-black">
              Asignatura
            </label>
            <mat-form-field>
              <mat-label> Asignatura </mat-label>
              <input matInput formControlName="subject" readonly="true" />
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <label class="main-label d-block lh-1 text-black"> Nivel </label>
            <mat-form-field>
              <mat-label>Nivel</mat-label>
              <input matInput formControlName="academicLevel" readonly="true" />
            </mat-form-field>
          </div>

          <div class="col-lg-6">
            <label class="main-label d-block lh-1 text-black">
              Cantidad de participantes
            </label>
            <mat-form-field>
              <mat-label>Cantidad de participantes</mat-label>
              <input
                matInput
                formControlName="number_participants"
                readonly="true"
              />
            </mat-form-field>
          </div>

          <div class="col-lg-12">
            <label class="main-label d-block lh-1 text-black">
              Tema de la práctica
            </label>
            <mat-form-field>
              <mat-label>Tema de la práctica</mat-label>
              <input matInput formControlName="topic" readonly="true" />
            </mat-form-field>
          </div>

          <div class="col-lg-12">
            <label class="main-label d-block lh-1 text-black">
              Observaciones
            </label>
            <mat-form-field>
              <mat-label>Observaciones</mat-label>
              <input matInput formControlName="observation" readonly="true" />
            </mat-form-field>
          </div>

          <div class="col-lg-12">
            <label class="main-label d-block lh-1 text-black"> Estado </label>
            <mat-form-field>
              <mat-label>Estado</mat-label>
              <input matInput formControlName="status" readonly="true" />
            </mat-form-field>
          </div>
          <div class="btn-box">
            @if (selectedBooking.status ===bookingStates.APPROVED) {
            <button
              mat-flat-button
              type="button"
              color="warn"
              (click)="hidePopup()"
            >
              Cancelar
            </button>
            }
            <!--  -->
            @if (selectedBooking.status === bookingStates.PENDING ) {
            <button mat-flat-button color="warn" (click)="rejectBooking()">
              Rechazar
            </button>
            <button
              mat-flat-button
              class="daxa ml-10"
              (click)="approveBooking()"
            >
              Aprobar
            </button>
            <!--  -->
            }
            <!--  -->
            @if (selectedBooking.status === bookingStates.CONFIRMED) {
            <button
              mat-flat-button
              type="button"
              color="warn"
              (click)="hidePopup()"
            >
              Cancelar
            </button>
            <button
              mat-flat-button
              type="button"
              color="primary ml-10"
              (click)="generateReport()"
            >
              Reporte
            </button>
            }
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>
