.user-form-box {
  height: 782px;
}
.user-form-template-box {
  height: 435px;
}

@media (max-width: 767px) {
  .user-form-box {
    height: 739px;
  }
  .user-form-template-box {
    height: 425px;
  }
}
