<!-- BREADCRUMB -->
<div
  class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between"
>
  <h5 class="mb-0">Usuarios</h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
    <li class="breadcrumb-item position-relative">
      <a routerLink="/" class="d-inline-block position-relative">
        <i class="ri-settings-3-fill"></i>
        <span>Funciones</span>
      </a>
    </li>
    <li class="breadcrumb-item position-relative">Usuarios</li>
  </ol>
</div>

<!-- TABLE -->
<div class="row">
  <div class="col-lg-12">
    <mat-card
      class="daxa-card mb-20 border-radius bg-white border-none d-block"
    >
      <mat-card-header>
        <mat-card-title>
          <button
            mat-button
            class="text-daxa p-0 h-auto"
            (click)="onActionButton(ACTION_BUTTON_ADD, null)"
          >
            + {{ ACTION_BUTTON_ADD.label }} usuario
          </button>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div [class.component-dark-theme]="themeService.isDark()">
          @if(isLoading) {
          <mat-progress-bar mode="query"></mat-progress-bar>
          }

          <div class="splitter-table-container" tabindex="0">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombres</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.name }}
                </td>
              </ng-container>

              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef>Apellidos</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.lastName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.email }}
                </td>
              </ng-container>

              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef>Teléfono</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.phoneNumber }}
                </td>
              </ng-container>

              <ng-container matColumnDef="roles">
                <th mat-header-cell *matHeaderCellDef>Roles</th>
                <td mat-cell *matCellDef="let element">
                  <span [sharedMaxWidthEllipsis]="150">
                    @for (role of element.roles; track $index) {
                    {{ role | roleFormatter }} - }
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let element">
                  @if (element.status | statusFormatter; as formattedStatus) {
                  <span
                    class="daxa-badge d-inline-block"
                    [ngClass]="formattedStatus.class"
                  >
                    {{ formattedStatus.label }}
                  </span>
                  }
                </td>
              </ng-container>

              <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Acciones
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="action-info">
                    @for (actionButton of element.actions; track $index) {
                    <button
                      type="button"
                      mat-button
                      [matTooltip]="actionButton.label"
                      matTooltipPosition="above"
                      (click)="onActionButton(actionButton, element)"
                    >
                      <i class="material-symbols-outlined">
                        {{ actionButton.name }}
                      </i>
                    </button>
                    }
                  </div>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="DISPLAYED_COLUMNS; sticky: true"
              ></tr>
              <tr mat-row *matRowDef="let row; columns: DISPLAYED_COLUMNS"></tr>
            </table>
          </div>

          <div class="mt-10">
            <mat-paginator
              [length]="totalDataCount"
              [pageSizeOptions]="DEFAULT_PAGE_SIZE"
              (page)="onPageChange($event)"
            ></mat-paginator>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- POPUP -->
<div class="popup-container" [class.active]="classApplied">
  <div class="popup-dialog">
    <mat-card
      class="daxa-card mb-25 border-radius bg-white border-none d-block"
    >
      <mat-card-header>
        <mat-card-title>
          <h5 class="mt-0 mb-0">{{ titlePopup }} usuario</h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button mat-button (click)="onClosedPopup()">
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <!-- ADD -->
            @if(buttonActive.name === TABLE_ACTIONS.ADD) {
            <ng-container *ngTemplateOutlet="rolesTemplate"></ng-container>
            <div class="col-md-12">
              <label class="main-label d-block lh-1 text-black">
                Plantilla de importación
              </label>
              <button
                mat-flat-button
                color="primary"
                type="button"
                matTooltip="Plantilla en formato xlsx para la importación de Usuarios"
                class="d-block text-center w-100 mb-12"
                appDownloadFile
                [fileUrl]="TEMPLATE_FILE_ROUTES"
                [fileName]="FILE_NAME"
              >
                Descargar plantilla
              </button>
              <div class="mb-20">
                <file-upload
                  class="file-uploader"
                  [control]="fileUploadControl"
                  [multiple]="false"
                ></file-upload>
              </div>
            </div>
            }
            <!-- VIEW / UPDATE -->
            @if (buttonActive.name === TABLE_ACTIONS.VIEW || buttonActive.name
            === TABLE_ACTIONS.EDIT) {
            <div class="col-md-12">
              <label class="main-label d-block lh-1 text-black">
                Correo electrónico
              </label>
              <mat-form-field>
                <mat-label> Correo electrónico </mat-label>
                <input
                  matInput
                  placeholder="Ej. e1315178051@live.uleam.edu.ec"
                  formControlName="email"
                  [sharedMaxChar]="50"
                />
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <label class="main-label d-block lh-1 text-black">
                Nombres
              </label>
              <mat-form-field>
                <mat-label> Nombre </mat-label>
                <input
                  matInput
                  placeholder="Ej. Welinton Alexander"
                  formControlName="name"
                  [sharedMaxChar]="50"
                />
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <label class="main-label d-block lh-1 text-black">
                Apellidos
              </label>
              <mat-form-field>
                <mat-label> Apellidos </mat-label>
                <input
                  matInput
                  placeholder="Ej. Guerrero Zamora"
                  formControlName="lastName"
                  [sharedMaxChar]="50"
                />
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <label class="main-label d-block lh-1 text-black">
                Número de teléfono
              </label>
              <mat-form-field>
                <mat-label> Número de teléfono </mat-label>
                <input
                  matInput
                  placeholder="Ej. 0989194770"
                  formControlName="phoneNumber"
                  sharedOnlyNumbers
                  [sharedMaxChar]="10"
                />
              </mat-form-field>
            </div>

            <ng-container *ngTemplateOutlet="rolesTemplate"></ng-container>

            <div class="col-md-12">
              <label class="main-label d-block lh-1 text-black"> Estado </label>
              <mat-form-field>
                <mat-label> Estado </mat-label>
                <mat-select formControlName="status">
                  @for (state of BASE_STATES_MAT_SELECT; track $index) {
                  <mat-option [value]="state.value">
                    {{ state.viewValue }}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            }
            <!-- DELETE -->
            @if (buttonActive.name === TABLE_ACTIONS.DELETE) {
            <div class="col-md-12 pb-15">
              <p>
                ¿Está seguro de que desea proceder? Esta acción cambiará el
                estado del usuario seleccionado a "Eliminado". Una vez
                eliminado, el usuario no estará accesible ni podrá ser operado
                en el futuro. Por favor, asegúrese de que desea continuar con
                esta acción irreversible.
              </p>
            </div>
            }
            <!-- BUTTONS -->
            @if (buttonActive.name !== TABLE_ACTIONS.VIEW) {
            <div class="btn-box">
              <button mat-button type="button" (click)="onClosedPopup()">
                Cancelar
              </button>
              <button
                mat-button
                type="submit"
                [disabled]="
                  userForm.invalid ||
                  (buttonActive.name === TABLE_ACTIONS.ADD &&
                    !fileUploadControl.value.length)
                "
              >
                {{ titlePopup }}
              </button>
            </div>
            }
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- TEMPLATES -->
<ng-template #rolesTemplate>
  <div [formGroup]="userForm">
    <div class="col-md-12">
      <label class="main-label d-block lh-1 text-black">Roles</label>
      <mat-form-field>
        <mat-label>Roles</mat-label>
        <mat-select formControlName="roles" multiple>
          @for (role of USER_ROLES_OPTIONS; track $index) {
          <mat-option
            *sharedShowForRoles="role.showForRoles"
            [value]="role.value"
          >
            {{ role.viewValue }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</ng-template>
