<!-- BREADCRUMB -->
<div
  class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between"
>
  <h5 class="mb-0">Reservas</h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
    <li class="breadcrumb-item position-relative">
      <a routerLink="/" class="d-inline-block position-relative">
        <i class="ri-briefcase-fill"></i>
        <span>Servicios</span>
      </a>
    </li>
    <li class="breadcrumb-item position-relative" (click)="onBack()">
      Espacios educativos
    </li>

    <li class="breadcrumb-item position-relative">Reservas</li>
  </ol>
</div>

<!-- TABLE -->
<div class="row">
  <div class="col-lg-12">
    <mat-card
      class="daxa-card mb-20 border-radius bg-white border-none d-block"
    >
      <mat-card-header>
        <mat-card-title class="w-100">
          <div class="d-flex align-items-center justify-content-between w-100">
            <button
              mat-button
              class="text-daxa p-0 h-auto"
              (click)="togglePopup()"
            >
              + Filtros
            </button>
            <button
              mat-button
              class="text-daxa p-0 h-auto"
              (click)="exportToExcel()"
            >
              Descargar (.xlsx)
              <i class="ri-download-fill"></i>
            </button>
          </div>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div [class.component-dark-theme]="themeService.isDark()">
          @if(isLoading) {
          <mat-progress-bar mode="query"></mat-progress-bar>
          }

          <div class="splitter-table-container" tabindex="0">
            <table mat-table [dataSource]="(dataSource$ | async)!">
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.date }}
                </td>
              </ng-container>

              <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef>Hora de entrada</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.startTime }}
                </td>
              </ng-container>

              <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef>Hora de salida</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.endTime }}
                </td>
              </ng-container>

              <ng-container matColumnDef="career">
                <th mat-header-cell *matHeaderCellDef>Carrera</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.career }}
                </td>
              </ng-container>

              <ng-container matColumnDef="subject">
                <th mat-header-cell *matHeaderCellDef>Asignatura</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.subject }}
                </td>
              </ng-container>

              <ng-container matColumnDef="number_participants">
                <th mat-header-cell *matHeaderCellDef>Participantes</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.number_participants }}
                </td>
              </ng-container>

              <ng-container matColumnDef="attended_count">
                <th mat-header-cell *matHeaderCellDef>Asistieron</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.attended_count }}
                </td>
              </ng-container>

              <ng-container matColumnDef="not_attended_count">
                <th mat-header-cell *matHeaderCellDef>No asistieron</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.not_attended_count }}
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let element">
                  @if (element.status | bookingStatusFormatter; as fstatus) {
                  <span
                    class="daxa-badge d-inline-block"
                    [ngClass]="fstatus.class"
                  >
                    {{ fstatus.label }}
                  </span>
                  }
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns; sticky: true"
              ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
          <div class="mt-10">
            <mat-paginator
              [length]="totalCount"
              [pageSizeOptions]="defaultPageSize"
              (page)="onPageChange($event)"
            ></mat-paginator>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- POPUP -->
<div class="popup-container" [class.active]="classApplied">
  <div class="popup-dialog">
    <mat-card
      class="daxa-card mb-25 border-radius bg-white border-none d-block"
    >
      <mat-card-header>
        <mat-card-title>
          <h5 class="mt-0 mb-0">{{ titlePopup }}</h5>
        </mat-card-title>
        <mat-card-subtitle>
          <button mat-button (click)="togglePopup()">
            <i class="ri-close-fill"></i>
          </button>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-lg-12">
              <label class="main-label d-block lh-1 text-black">
                Rango de fechas
              </label>
              <mat-form-field>
                <mat-label>Ingrese el rango </mat-label>
                <mat-date-range-input
                  [formGroup]="filterForm"
                  [rangePicker]="picker"
                >
                  <input
                    matStartDate
                    formControlName="startTime"
                    placeholder="Start date"
                  />
                  <input
                    matEndDate
                    formControlName="endTime"
                    placeholder="End date"
                  />
                </mat-date-range-input>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>

            <div class="col-lg-12">
              <label class="main-label d-block lh-1 text-black">
                Asignatura
              </label>
              <mat-form-field>
                <mat-label> Asignatura </mat-label>
                <mat-select formControlName="subjectId">
                  @for (subject of (subjects$ | async); track $index) {
                  <mat-option [value]="subject.id">
                    {{ subject.name }}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <label class="main-label d-block lh-1 text-black">Estado</label>
              <mat-form-field>
                <mat-label> Estado </mat-label>
                <mat-select formControlName="status">
                  @for (state of baseStatesOptions; track $index) {
                  <mat-option [value]="state.value">
                    {{ state.viewValue }}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-lg-12">
              <div class="btn-box">
                <button
                  mat-flat-button
                  type="button"
                  color="primary"
                  (click)="resetForm()"
                >
                  Limpiar
                </button>
                <button
                  mat-flat-button
                  type="submit"
                  class="daxa ml-10"
                  [disabled]="filterForm.invalid"
                >
                  Buscar
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
