<mat-card
  class="daxa-card welcome-card mb-25 border-radius position-relative bg-gradient border-none d-block"
>
  <mat-card-content>
    <div class="row">
      <div class="col-lg-6">
        <div class="content">
          <span class="d-block text-white">
            {{ formattedDate }}
          </span>
          <h3 class="text-white">
            ¡Bienvenido {{ (user$ | async)?.name }}
            {{ (user$ | async)?.lastName }}!
          </h3>
          <p class="text-white">
            En nuestro sistema podrás gestionar reservas en espacios educativos.
            Según tu rol, podrás acceder a diferentes funcionalidades del
            sistema para facilitar su administración y organización.
          </p>

          <span class="d-block text-white fw-medium">
            Progreso del Año Actual
          </span>
          <div class="chart">
            <apx-chart
              [series]="chartOptions.series!"
              [colors]="chartOptions.colors!"
              [chart]="chartOptions.chart!"
              [plotOptions]="chartOptions.plotOptions!"
              [fill]="chartOptions.fill!"
            ></apx-chart>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image mb-25">
          <img src="assets/images/welcome.svg" alt="welcome-image" />
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
