<!-- Breadcrumb -->
<div
  class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between"
>
  <h5 class="mb-0">Tablero</h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
    <li class="breadcrumb-item position-relative">
      <a class="d-inline-block position-relative">
        <i class="ri-home-8-line"></i>
        Inicio
      </a>
    </li>
    <li class="breadcrumb-item position-relative">Tablero</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 col-xxxl-12">
    <app-section-welcome></app-section-welcome>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-4 col-xxxl-4">
    <app-section-statistics></app-section-statistics>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-8 col-xxxl-8">
    <app-section-bookings></app-section-bookings>
  </div>
</div>
